<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700&display=swap" rel="stylesheet">
</head>

<body style="background-color: #F5F6F6; padding: 10px;">
<table style="border-spacing: 0; margin: 0 auto; padding: 0; -moz-border-radius: 10px; -webkit-border-radius: 10px; border-radius: 10px;  background-color: #ffffff; font-family: 'Nunito Sans', Arial, sans-serif; color: #2E2E2F; min-height: 100%; font-size: 16px; line-height: 150%; min-width: 50%; max-width: 600px; text-decoration: none; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;">
    <tbody>
    <tr>
        <td width="100%" style="padding: 10px 25px; text-align: center; border-top-left-radius: 20px; border-top-right-radius: 20px; background-color: #1a3872; color: #ffffff;">
            <h1 th:text="#{invoice_created.headTitle}" style="font-size: 30px; line-height: 42px; font-weight: 600;">Successful purchase!</h1>
        </td>
    </tr>
    <tr>
        <td width="100%" style="padding: 0px 25px;">
            <h3 style="color: #2E2E2F; padding: 0px 0px 25px 0px;" th:text="#{invoice_created.info}">
                Dear customer! We would like to inform you that your order was successfully purchased.
            </h3>
            <p style="color: #2E2E2F;" th:text="#{invoice_created.info_pt2}">
                Your order:
            </p>
            <b>
                <div style="display: flex; flex-direction: row;">
                    <p th:text="#{invoice_created.orderCode}">Order's code:</p>&nbsp;&nbsp;
                    <p th:if="${orderCode != null}" th:text="${orderCode}"></p>
                </div>
            </b>
            <b>
                <div style="display: flex; flex-direction: row;">
                    <p th:text="#{invoice_created.totalPrice}">Total price:</p>&nbsp;&nbsp;
                    <p th:if="${totalPrice != null}" th:text="${totalPrice}"></p>
                    <p>&nbsp;Ft</p>
                </div>
            </b>
            <b>
                <div style="display: flex; flex-direction: row;">
                    <p th:text="#{invoice_created.created}">Created:</p>&nbsp;&nbsp;
                    <p th:if="${created != null}" th:text="${created}"></p>
                </div>
            </b>
            <b>
                <div style="display: flex; flex-direction: row;">
                    <p th:text="#{invoice_created.zip}">Zip:</p>&nbsp;&nbsp;
                    <p th:if="${zip != null}" th:text="${zip}"></p>
                </div>
            </b>
            <b>
                <div style="display: flex; flex-direction: row;">
                    <p th:text="#{invoice_created.city}">City:</p>&nbsp;&nbsp;
                    <p th:if="${city != null}" th:text="${city}"></p>
                </div>
            </b>
            <b>
                <div style="display: flex; flex-direction: row;">
                    <p th:text="#{invoice_created.street}">Street:</p>&nbsp;&nbsp;
                    <p th:if="${street != null}" th:text="${street}"></p>
                </div>
            </b>

            <p style="color: #2E2E2F; text-align: center;" th:text="#{invoice_created.info_pt3}">
                Thank you for trusting us and buying from us! Regards, the team of WorldwideWebShop!
            </p>
        </td>
    </tr>
    <tr>
        <td width="100%" style="padding: 5px 25px;">
        </td>
    </tr>
    <tr>
        <td width="100%" style="margin-top: 40px; background-color: #8abaf1; text-align: center; border-bottom-left-radius: 10px; border-bottom-right-radius: 10px; padding-top: 10px; color: #413f3f;">
            <p style="font-weight: 600;" th:text="#{registration.wws}">WorldwideWebShop Team</p>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>